
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: white;
    position: relative;
    margin: 0;
}

nav a {
    display: inline-block;
    padding: 16px;
    text-decoration: none;
    color: black;
}

nav a.active {
    background-color: grey;
}

nav a:hover {
    background-color: grey;
    font-size: 16px;
}

body.Log_in {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Sign-in {
    width: 382px;  
    overflow: hidden;  
    margin: auto;
    margin-block-start: 100px;
    padding: 60px;  
    padding-top: 50px;
    background: white;  
    border-radius: 15px;
    color: black;
}

h1.login {
    text-align: left;
    color: black;
}

table.product-category-table {
    border: 1px solid white;
    width: 100%;
    border-collapse: collapse;
    background-color: grey;
}

th.product-category-header {
    border: 3px solid white;
    border-collapse: collapse;
    background-color: gray;
    font-size: large;
}

td {
    border: 3px solid white;
    border-collapse: collapse;
    background-color: grey;
    color: black;
    font-size: large;
}

input {
    margin-left: auto;
}

table.add-new-category-product {
    border-collapse: collapse;
    border: 2px solid white;
}

td.add-new-category-product {
    color: black;
    font-size: large;
    border: 1px solid red;
}

body.add-new-category-product {
    background-color: black;
}